# IDE and code editor settings
.idea/
.vscode/

# Dependency directories
node_modules/

# Build outputs
build/

# Log files
logs/
*.log  # General log files
docker.log  # Docker-specific log files

# Environment variable configurations
.env
.env.development
.env.test
.env.staging
.env.uat
.env.production
