{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
